body {
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ff5959;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  color: #ff4d4d;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-content {
  width: 100%;
}

.hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  border-radius:10px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff1a1a;
}