body {
  font-family: Arial;
  margin:0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 50px;
  border:2px solid black;
  

}

.logo {
  color: #ff5959;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  color: #ff4d4d;
}

.hero {
  height: 70vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-content {
  height: 50vh;
  width: 100%;
}

.hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  border-radius: 10px;
  border: none;
  background-color: #ff6868;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff1a1a;
}

.programs {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background: #000000e7;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color:white;
}

.program-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
  background: #000000c2;
  color:white;
}

.card h3 {
  margin-bottom: 15px;
  color: #ff3939;
}

.trainers {
  padding: 80px;
}

.trainers h2 {
  color:black;
}

.trainer-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content:center;
}

.trainer-card {
  background-color: #222;
  border-radius: 10px;
  text-align: center;
  border-radius:15px;
}

.trainer-card img {
  width: 500px;
  height: 300px;
  object-fit:;
}

.trainer-card h3 {
  margin-top: 20px;
  color:white;
  
}

.trainer-card p {
  margin: 10px 0 20px;
  color: #ccc;
}


.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #000000;
  color:white;
}

.contact h2 {
  margin-bottom: 20px;
}


.footer {
  padding: 20px;
  text-align: center;
  background-color: black;
  color:white;
}

/* Pricing */

.pricing {
  padding: 80px;
  background-color: #1a1a1a;
  color:white;
  height:80vh;
}

.pricing-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.price-card {
  flex:1;
  min-width: 260px;
  background-color: #222;
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.price-card h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price-card h4 {
  color: #ff4d4d;
  margin-bottom: 25px;
  font-size: 24px;
}

.price-card ul {
  list-style: none;
  margin-bottom: 30px;
}

.price-card ul li {
  margin-bottom: 12px;
  color: #ccc;
}

/* Hero */

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  /* flex-wrap: wrap; */
}

.hero-content {
  flex: 1;
  min-width: 300px;
}

.hero-image {
  flex: 1;
  min-width: 300px;
}

.hero-image img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

